{% extends 'template.html.twig' %}
{% block body %}
<div>
    <p>Drummy Web Symfony Php web Application</p>
    <img src="{{ asset("asset/images/") ~ path | defaultImage }}" alt="">
    Je veux allé sur cet URL {{ url('first') }}
</div>
{% endblock %}
