{% extends 'template.html.twig' %}

{% block title %}
    Liste des ToDo
{% endblock %}

{% block pageTitle %}
    Todo
{% endblock %}

{% block body %}


<h1>Liste des Todos</h1>
    <ol class="list_group">
        {% for name,content in app.session.get('todos') %}
            <li class="list-group-item">
                {{ name }} : {{ content }}
            </li>
        {% endfor %}
    </ol>

{% endblock %}